/* Ostrich Sans */

@font-face {
  font-family: 'Ostrich Sans';
  font-weight: 900;
  font-style: normal;

  src: url('../fonts/ostrich-black.eot');
  src: url('../fonts/ostrich-black.woff') format('woff'), url('../fonts/ostrich-black.ttf') format('truetype'), url('../fonts/ostrich-black.svg') format('svg');
}
@font-face {
  font-family: 'Ostrich Sans';
  font-weight: 400;
  font-style: normal;

  src: url('../fonts/ostrich-regular.eot');
  src: url('../fonts/ostrich-regular.woff') format('woff'), url('../fonts/ostrich-regular.ttf') format('truetype'), url('../fonts/ostrich-regular.svg') format('svg');
}
