/* Ostrich Sans */

@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-black.eot');
	src: local('☺'), url('ostrich-black.woff') format('woff'), url('ostrich-black.ttf') format('truetype'), url('ostrich-black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-bold.eot');
	src: local('☺'), url('ostrich-bold.woff') format('woff'), url('ostrich-bold.ttf') format('truetype'), url('ostrich-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-regular.eot');
	src: local('☺'), url('ostrich-regular.woff') format('woff'), url('ostrich-regular.ttf') format('truetype'), url('ostrich-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-light.eot');
	src: local('☺'), url('ostrich-light.woff') format('woff'), url('ostrich-light.ttf') format('truetype'), url('ostrich-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

/* Ostrich Sans Rounded */

@font-face {
	font-family: 'Ostrich Sans Rounded';
	src: url('ostrich-rounded.eot');
	src: local('☺'), url('ostrich-rounded.woff') format('woff'), url('ostrich-rounded.ttf') format('truetype'), url('ostrich-rounded.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

/* Ostrich Sans Inline */

@font-face {
	font-family: 'Ostrich Sans Inline';
	src: url('ostrich-inline-regular.eot');
	src: local('☺'), url('ostrich-inline-regular.woff') format('woff'), url('ostrich-inline-regular.ttf') format('truetype'), url('ostrich-inline-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}