header {
	background-color: rgba(20, 20, 20, 1);
}
#main { 
	padding-top: 78px;
}
#portfolio-list li {
	display: inline-block;
	width: 25%;
    text-align: left;
    float: left;
    margin-bottom: -4px;
}
#portfolio-list li .overlay {
	display: none;
	display: inline-block;
	position: absolute;
	background-color: rgba(20, 20, 20, .9);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
img.port-img {
	width: 100%;
}

/* ----- FOOTER ----- */
#footer-contact {
	clear: both;
}

/* -------------------- */
/* ---- RESPONSIVE ---- */
/* -------------------- */
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
	#portfolio-list li { 
		width: 33.33333%;
	}
}
@media (max-width: 768px) {
	#portfolio-list li { 
		width: 50%;
	}
}

