 /*For MixItUp filtering - Target elements must be hidden*/
#portfolio .mix {
  display: none;
}
.no-spam {
  display: inline-block;
  overflow: hidden;

  width: 0;

  color: transparent;
}
.hide-wrapper {
  display: none;
}
html,
body,
a,
h1,
h2,
p,
span,
input,
textarea,
.form-control {
  font-family: 'Ostrich Sans', 'helvetica',sans-serif;
}
.text-red {
  color: #bb161c !important;
}
.strong {
  font-weight: 900;
}
#header-wrapper {
  display: block;

  margin-top: 30px;
}
#header-wrapper .container,
#main-wrap .container,
#about-wrap .container {
  max-width: 900px;
}
@media (max-width: 767px) {
  #header-img {
    width: auto;
    margin-right: -15px;
    margin-left: -15px;
  }
}
#header-nav {
  padding-bottom: 20px;
}
#header-logo {
  font-family: 'Ostrich Sans';
  font-size: 3em;

  letter-spacing: 0.08em;

  color: #000;
}
#header-logo .text-red {
  font-size: 1em;
}
#header-logo:hover,
#header-logo:focus {
  text-decoration: none;
}
#link-wrap {
  margin-top: 10px;
}
#link-wrap li a {
  font-size: 1.6em;

  display: inline-block;

  text-decoration: none;
  letter-spacing: 0.08em;

  border: 1px solid transparent;
}
#link-wrap li a:hover,
#link-wrap li a:focus {
  color: #212121;
  border-bottom: 1px solid #212121;
}
#link-wrap li a.active {
  color: #000;
  border-bottom-color: #bb161c;
}
/* LANDING =========================== */
#header-img {
  display: block;

  max-width: 900px;
  height: 500px;

  background: url('../img/faina-action.jpg') no-repeat center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

/* PORTFOLIO =========================== */
#navigation {
  margin-bottom: 25px;
  padding-top: 20px;

  border-top: 1px dotted #ccc;
}
/*@media (max-width: 767px) {
  #navigation {
    text-align: center;
  }
}*/
#navigation li {
  font-size: 1.6em;

  display: inline-block;

  margin-right: 5px;
  margin-left: 5px;
  padding: 0;

  letter-spacing: 0.08em;
}
@media (max-width: 767px) {
  #navigation li {
    display: block;

    height: 38px;

    text-align: center;
  }
}
#navigation li a:hover,
#navigation li a:focus {
  cursor: pointer;
  cursor: hand;

  color: #212121;
  border-bottom: 1px solid #212121;
}
#navigation li a {
  text-decoration: none;

  border: 1px solid transparent;
}
#navigation li a.active {
  color: #000;
  border-bottom-color: #bb161c;
}
#main-wrap {
  margin-bottom: 60px;
}
#portfolio .portfolio-item {
  position: relative;

  overflow: hidden;

  max-width: 385px;
  margin-bottom: 30px;
}
#portfolio .portfolio-item-link:hover,
#portfolio .portfolio-item-link:focus {
  text-decoration: none;
}
#portfolio .link-description {
  font-size: 1.66em;

  display: block;

  margin-top: 10px;

  letter-spacing: 0.08em;
}
.img-overlay {
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  min-height: 225px;

  background: url('../img/preview-overlay.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
.featherlight .featherlight-content {
  padding: 0;

  border-bottom: none;
}
#main-wrap {
  position: relative;
}
#landing-wrap,
#portfolio-wrap,
#about-wrap {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
}
/* ABOUT ========================== */
/* CONTACT ======================== */
.contact {
  display: block;
}
#contact-form label,
#contact-form input,
#contact-form textarea,
#contact-form button,
span.contact {
  font-size: 1.6em;
  font-weight: 400;

  letter-spacing: 0.08em;
}
#contact-form button {
  color: #fff;
  background: #212121;
}
#contact-form button:focus,
#contact-form button:hover {
  color: #212121;
  background: #fff;
}
#contact-form input.form-control,
#contact-form textarea.form-control {
  line-height: 40px;

  min-height: 50px;
}
