html, a { 
  font-family: 'helvetica',sans-serif;
}
#link-wrap a,
#cta-btn {
	font-family: 'Ostrich Sans Rounded', helvetica, sans-serif;
	font-size:28px;
	letter-spacing: 1.33px;
	text-decoration: none;
	outline: 0;
}
body {
	height: 100%;
	background-color: rgb(8,8,8);
}
.container {
	width: 1170px;
	margin: auto;
	position: relative;
}

/* ----- HEADER ----- */

header {
	position: fixed;
	min-height: 36px;
	padding-top: 15px;
	background-color: rgba(20,20,20,.65);
	width: 100%;
	text-transform: uppercase;
	z-index: 999;
}
#logo-wrap {
	display: inline-block;
	width: auto;
	margin: 5px 15px 0 15px;
	height: 42px;
}
#link-wrap {
	display: block;
	float: right;
}
#logo {
	height: 36px;
}
#link-wrap a {	
	color: #fff;
	padding: 12px 12px 20px 12px;
	display: inline-block;
	border-bottom: 5px solid transparent;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
#link-wrap a:hover,
#link-wrap a:focus,
.link-wrap-selected {
	background-color: rgba(0,0,0,.9);
	border-bottom: 5px solid #bb161c !important;
}
#hero {
	min-height: 100%;
	display: block;
	background: url('../img/faina-action.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
		    background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/faina-action.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/faina-action.jpg', sizingMethod='scale')";
	
}
#hero .container {
	display: block;
	height: 100%;
}

/* ----- BODY ----- */

#cta-wrap {
	position: absolute;
	width: 100%;
	bottom: 80px;
}
#cta-btn {
	display: block;
	border:3px solid white;
	padding: 16px 12px 12px 24px;
	margin: 0 auto;
	max-width: 180px;
	text-align: center;
	color: #fff;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
#cta-btn:hover,
#cta-btn:focus {
	background-color: rgba(0,0,0,.35);
	/*color: #222;*/
}
#cta-btn img {
	float: right;
}

/* -- PORTFOLIO -- */
#portfolio-list { 
	padding-top: 80px;
}
#portfolio-list li {
	display: inline-block;
	width: 25%;
    text-align: left;
    float: left;
    margin-bottom: -4px;
}
/*#portfolio-list li .overlay {
	display: none;
	display: inline-block;
	position: absolute;
	background-color: rgba(20, 20, 20, .9);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}*/
img.port-img {
	width: 100%;
}
#footer-contact {
	clear: both;
}


/* ------------------------------ */
/* --------- RESPONSIVE --------- */
/* ------------------------------ */


@media (max-width: 1200px) {
	.container {
		width: 100%;
	}
}
@media (max-width: 992px) {
	/* ------- PORTFOLIO ------- */
	#portfolio-list li { 
		width: 33.33333%;
	}
}
@media (max-width: 768px) {
	header {
		padding-bottom: 20px;
	}
	#link-wrap {
		display: none;		
	}
	#cta-wrap {
		bottom: 40px;
	}
	/* ------- PORTFOLIO ------- */
	#portfolio-list li { 
		width: 50%;
	}
}

