html, a { 
  font-family: 'helvetica',sans-serif;
}
#link-wrap a,
#cta-btn {
	font-family: 'Ostrich Sans Rounded', helvetica, sans-serif;
	font-size:28px;
	letter-spacing: 1.33px;
	text-decoration: none;
	outline: 0;
}
body {
	height: 100%;
	background-color: rgb(20,20,20);
}
.container {
	width: 1170px;
	margin: auto;
	position: relative;
}

/* ----- HEADER ----- */

header {
	position: fixed;
	min-height: 36px;
	padding-top: 15px;
	background-color: rgba(20,20,20,.35);
	width: 100%;
	text-transform: uppercase;
	z-index: 999;
}
#logo-wrap {
	display: inline-block;
	width: auto;
	margin: 5px 15px 0 15px;
	height: 42px;
}
#link-wrap {
	display: block;
	float: right;
}
#logo {
	height: 36px;
}
#link-wrap a {	
	color: #fff;
	padding: 12px 12px 20px 12px;
	display: inline-block;
	border-bottom: 5px solid transparent;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
#link-wrap a:hover,
#link-wrap a:focus,
.link-wrap-selected {
	background-color: rgba(0,0,0,.65);
	border-bottom: 5px solid #bb161c !important;
}
#hero {
	min-height: 100%;
	display: block;
	background: url('../img/faina-action.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
		    background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/faina-action.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/faina-action.jpg', sizingMethod='scale')";
	
}
#hero .container {
	display: block;
	height: 100%;
}

/* ----- BODY ----- */

#cta-wrap {
	position: absolute;
	/*right: 20px;*/
	width: 100%;
	bottom: 80px;
}
#cta-btn {
	display: block;
	border:3px solid white;
	padding: 16px 12px 12px 24px;
	margin: 0 auto;
	max-width: 180px;
	text-align: center;
	color: #fff;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
#cta-btn:hover,
#cta-btn:focus {
	background-color: rgba(0,0,0,.35);
	/*color: #222;*/
}
#cta-btn img {
	float: right;
}

/* -------------------- */
/* ---- RESPONSIVE ---- */
/* -------------------- */
@media (max-width: 1200px) {
	.container {
		width: 100%;
	}
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
	header {
		padding-bottom: 20px;
	}
/*	#logo-wrap {
		display: block;
		width: 100%;
	}
	#logo {
		display: block;
		height: 100%;
		text-align: center;
	}
	#link-wrap {
		display: block;
		width: 100%;
		display: none;
	}
	#logo-wrap,
	#link-wrap,
	#logo {
		margin-left: auto;
		margin-right: auto;
	}*/
	#link-wrap {
		display: none;		

	}
}

